body{
	background-color:#CFE8E8

}

form{
	max-width: 
}

a{
	background-color: black
}

.clasemariana{
	width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;

}